<%- include("includes/common.ejs") %>
<body>
    <h1>This post belong to <%= username  %></h1>
    <button>follow</button>
    <button>message</button>
    <p>followers : <%= account.followers  %> &nbsp;&nbsp;&nbsp; following : <%= account.following  %></p>
    <hr>
    <p>
        <% for(let post of account.posts){ %>
            <img src="<%= post.image %>" alt="">
            <p>Likes : <%= post.likes %>  &nbsp;&nbsp;&nbsp; comments : <%= post.comments %></p>
        <% } %>
    </p>
</body>
</html>